@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, Helvetica;
}

.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: 0 center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginTitle {
  font-size: 50px;
  font-weight: 400;
  color: #3f3d56;
  margin-bottom: 10px;
  position: absolute;
  top: 100px;
  left: 160px;
}

.loginDesc {
  font-size: 24px;
  color: #3f3d56;
  position: absolute;
  top: 570px;
  left: 165px;
}

.loginBox{
    height: 450px;
    padding-block: 30px;
    padding-inline: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginLabel{
      font-size: 20px;
      position: 100px 0px;
  }

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #3f3d56;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #3f3d56;
}

.loginRegisterButton{
    width: 60%; 
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(163, 162, 162);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
}